mycroft-messagebus-client
psutil~=5.7.3
pytest~=6.1.2
setuptools~=50.3.2
PyYAML~=5.3.1
autocorrect~=2.2.2
jellyfish~=0.8.2
nltk~=3.5
spacy~=2.3.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
klat-connector>0.6.2a8